<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="column">
    <div class="form-group">
      <label for="firstName">First Name: </label>
      <input
        id="firstName"
        formControlName="firstName"
        type="text"
        class="form-control"
        name="firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name: </label>
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
        id="lastName"
        required
      />
    </div>
  </div>
  <div class="column">
    <div class="form-group">
      <label for="phoneNumber">Phone Number: </label>
      <input
        type="text"
        class="form-control"
        formControlName="phoneNumber"
        id="phoneNumber"
        name="phoneNumber"
      />
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input
        type="text"
        class="form-control"
        formControlName="email"
        id="email"
        name="email"
      />
    </div>
  </div>

  <div class="column">
    <div class="form-group">
      <label for="bankAccountNumber">Bank Account Number: </label>
      <input
        type="text"
        class="form-control"
        formControlName="bankAccountNumber"
        id="bankAccountNumber"
        name="bankAccountNumber"
      />
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date Of Birth: </label>
      <input
        type="date"
        class="form-control"
        formControlName="dateOfBirth"
        id="dateOfBirth"
        name="dateOfBirth"
      />
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="submit">
      Submit
    </button>
  </div>
</form>
